# Mac OS
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
Thumbs.db

# Python Standard Files
__pycache__
*.py[cod]
*$py.class
*.egg-info

# Temporary Folders of helper Tools
.coverage
/htmlcov
/.mypy_cache
/.ruff_cache
/.venv
.pdm.toml

# Project specifically for local development
node_modules
npm-debug.log

# Excel sheets created during local dev in root folder
/*.xlsx
